 <!-- footer -->
 <footer id="footer">
    <h1 class="text-center">Nội thất</h1>
    <p class="text-center">Công ty nội thất trách nhiệm hữu hạn</p>
    
    <div class="copyright text-center">
        &copy; Copyright <strong><span>Nội thất</span></strong>.
    </div>
    <div class="credite text-center">
         <a href="#"></a>
    </div>
</footer>
<!-- footer -->




</body>
</html>